@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Monoton&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');
/*Formatação CSS*/
body {
	background-color:#f6f5f5;
	margin:0px;
	padding: 0px;
}

ul {
	list-style: none;
}

a {
	color: black;
	text-decoration:none;
}

section{
	width:100%;
	height: 600px;
	background-image: url(../imagens/5026563.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.port{
	width:100%;
	height: 100px;
	background-image: url(../imagens/5026563.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;

}

nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: 'Indie Flower', cursive;
	color: #505050;
	font-size: 15px;
	font-weight:700;
}
.logo {
	font-family: 'Monoton', cursive;
	border: 2px solid #4c586f;
	box-shadow: 1px 1px 4px black;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}
.sobre p:nth-child(1){
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	color: #3e3e3b;
	font-size: 22px;
	}
.sobre p:nth-child(2){
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	letter-spacing: 1px;
	color: #3e3e3b;
	font-size: 30px;
	}
.sobre p:nth-child(3){
	font-family: 'Indie Flower', cursive;
	color: #3e3e3b;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;

}
.sobre p{
	line-height: 0px;
	margin: 45px 0px 25px;
}
.sobre {
	position: absolute;
	left: 20%;
	top: 42%;
	transform: translate(-13%, -42%);
}
.foto {
	height:450px;
	position: absolute;
	bottom: 90px;
	left: 75%;
	transform: translateX(-60%);
	border-radius: 110px;
	margin: -15% auto 20px auto;
}
.texto{
	width:90%;
	height: 550px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items:center;
}
.sobre_mim_texto{
	width: 60%;
}
.sobre_mim_texto p:nth-child(1){
	color: #403e3e;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 23px;
	line-height: 5px;
}
.sobre_mim_texto p:nth-child(2){
	color: #7e7d7d;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}
.sobre_mim_texto p:nth-child(3){
	color: #7e7d7d;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}
.sobre_mim_texto p:nth-child(4){
	color: #7e7d7d;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}
.sobre_mim_texto p:nth-child(5){
	color: #7e7d7d;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;

}
.portifolio{
	height:700px;
	padding: 2% 10% 0px 10%;
}
.portifolio_texto{
	width: 500px;
	margin: 50px 0px;
}
.portifolio_texto p:nth-child(1){
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	color: #3e3d3d;
	font-size:30px;
	line-height: 15px;
}
.portifolio_texto p:nth-child(2){
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 20px;
	line-height: 15px;
}
.portifolio_texto p:nth-child(3){
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 20px;
	line-height: 15px;
}
.portifolio

.caixa1,.caixa2,.caixa3{
	width:300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}
.caixa {
	display: flex;
	justify-content: space-between;
}
.caixa1{
	background-image: url(../imagens/Administração.png);
	border-radius:20px;

}
.caixa2{
	background-image: url(../imagens/Site.png);
	border-radius:20px;
}
.caixa3{
	background-image: url(../imagens/Mobile.png);
	border-radius:20px;
}
.caixa1 span, .caixa2 span, .caixa3 span{
	width: 40px;
	height: 40px;
	background-color: #FFFFFF;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;

}
.contato{
	width:90%;
	height: 450px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 3.5% auto 30px auto;
	position: relative;
	justify-content:space-evenly;
	align-items:center;
}
.contato p {
	color: #403e3e;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 23px;
	line-height: 40px;
}
.enteressado {
	width: 100%;
	height: 250px;
	color: white;
	font-family: 'Indie Flower', cursive;
	background-color: #4c586f;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 0px;
	
}
.enteressado button{
	width: 200px;
	height: 40px;
	background-color: #ffffff;
	font-family: 'Indie Flower', cursive;
	outline: none;
	border: none;
	font-size: 15px;
	font-weight: bold;
	border-radius: 30px;
}

.enteressado p{
	font-size:30px;
}

footer {
	height: 50px;
	justify-content: center;
	align-items: center;
	font-family: 'Fonte', sans-serif;
	font-size: 20px;
	text-align:center;
	margin: 20px 50px 20px 0px;
	display: flex;
	line-height: 0px;
}
@media only screen and (max-width: 767px) {
        .foto { 
            display: none !important; 
        } }

@media (max-width: 1000px) {
	*{
		box-sizing: border-box;
	}
	.foto{
		height:460px;
		left: 90%;
		transform: translateX(-90%)
	}
	.sobre{
		top: 46%;
	}
	.texto{
		width: 90%;
		border-radius: 10px;
	}
	.sobre_mim_texto{
		width: 400px;
	}
	.sobre_mim_texto p:nth-child(1){
		font-size: 20px;
	}
	.sobre_mim_texto p:nth-child(2),
	.sobre_mim_texto p:nth-child(3),
	.sobre_mim_texto p:nth-child(4),
	.sobre_mim_texto p:nth-child(5){
		font-size: 16px;
	}
	.portifolio{
		padding: 2% 5% 0px 5%;
	}

	.caixa {
		justify-content:center;
		flex-wrap: wrap;
	}
	.portifolio{
		height: auto;
	}
	.caixa1, .caixa2, .caixa3{
		flex-grow: 1;
		margin:10px;

	}



}

